<?xml version="1.0" ?>

<configuration>
	<configSections>
		<section name="unityTest"
		         type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="unity"
		         type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<unityTest>
		<containers>
			<container name="ContainerTest">
				<register type="Neovolve.Toolkit.Server.Unity.WebIntegrationTests.TestService, Neovolve.Toolkit.Server.Unity.WebIntegrationTests"
				          name="NamedResolution">
					<constructor>
						<param name="hashCalculator">
							<dependency />
						</param>
					</constructor>
				</register>
				<register type="System.Security.Cryptography.HashAlgorithm, mscorlib"
				          mapTo="System.Security.Cryptography.SHA256CryptoServiceProvider, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<extensions>
					<add type="Neovolve.Toolkit.Unity.DisposableStrategyExtension, Neovolve.Toolkit.Unity" />
				</extensions>
			</container>
		</containers>
	</unityTest>
	<unity>
		<containers>
			<container>
				<register type="System.Security.Cryptography.HashAlgorithm, mscorlib"
				          mapTo="System.Security.Cryptography.SHA256CryptoServiceProvider, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<extensions>
					<add type="Neovolve.Toolkit.Unity.DisposableStrategyExtension, Neovolve.Toolkit.Unity" />
				</extensions>
			</container>
		</containers>
	</unity>
	<system.web>
		<compilation debug="true"
		             targetFramework="4.0">
		</compilation>
		<authentication mode="None"></authentication>
		<httpModules>
			<add type="Neovolve.Toolkit.Server.Unity.UnityHttpModule"
			     name="UnityHttpModule" />
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5"
		       clientIDMode="AutoID" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="Neovolve.Toolkit.Unity.UnityHttpModule"
			     name="UnityHttpModule" />
		</modules>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UnityBehavior">
					<unityService unitySectionName="unityTest"
					              unityContainerName="ContainerTest"
					              unityResolveName="NamedResolution" />
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="unityService"
				     type="Neovolve.Toolkit.Unity.UnityServiceElement, Neovolve.Toolkit.Unity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=911824a9aa319cb2" />
			</behaviorExtensions>
		</extensions>
		<services>
			<service behaviorConfiguration="UnityBehavior"
			         name="Neovolve.Toolkit.Unity.WebIntegrationTests.TestService">
				<endpoint address=""
				          binding="basicHttpBinding"
				          bindingConfiguration=""
				          contract="Neovolve.Toolkit.Unity.WebIntegrationTests.ITestService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>