<?xml version="1.0"
      encoding="utf-8" ?>

<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/TestServiceSingleton"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.Workflow.IntegrationTests.ITestService"
                name="Singleton" />
      <endpoint address="net.pipe://localhost/TestServiceInstance"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.Workflow.IntegrationTests.ITestService"
                name="Instance" />
      <endpoint address="net.pipe://localhost/TestServiceIdentity"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.Workflow.IntegrationTests.ITestService"
                name="Identity" />
      <endpoint address="net.pipe://localhost/TestServiceInvalidIdentity"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.Workflow.IntegrationTests.ITestService"
                name="InvalidIdentity" />
    </client>
    <services>
      <service behaviorConfiguration="singletonBehavior"
               name="Neovolve.Toolkit.Workflow.TestServiceSingleton">
        <endpoint address="net.pipe://localhost/TestServiceSingleton"
                  binding="netNamedPipeBinding"
                  contract="ITestService" />
      </service>
      <service behaviorConfiguration="instanceBehavior"
               name="Neovolve.Toolkit.Workflow.TestServiceInstance">
        <endpoint address="net.pipe://localhost/TestServiceInstance"
                  binding="netNamedPipeBinding"
                  contract="ITestService" />
      </service>
      <service behaviorConfiguration="failureBehavior"
               name="Neovolve.Toolkit.Workflow.TestServiceFailure">
        <endpoint address="net.pipe://localhost/TestServiceFailure"
                  binding="netNamedPipeBinding"
                  contract="ITestService" />
      </service>
      <service name="Neovolve.Toolkit.Workflow.TestServiceIdentity">
        <endpoint address="net.pipe://localhost/TestServiceIdentity"
                  binding="netNamedPipeBinding"
                  contract="ITestService" />
      </service>
      <service name="Neovolve.Toolkit.Workflow.TestServiceInvalidIdentity">
        <endpoint address="net.pipe://localhost/TestServiceInvalidIdentity"
                  binding="netNamedPipeBinding"
                  contract="ITestService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="singletonBehavior">
          <workflowExtension type="Neovolve.Toolkit.Workflow.IntegrationTests.TestExtension, Neovolve.Toolkit.Workflow.IntegrationTests"
                             isSingleton="true" />
        </behavior>
        <behavior name="instanceBehavior">
          <workflowExtension type="Neovolve.Toolkit.Workflow.IntegrationTests.TestExtension, Neovolve.Toolkit.Workflow.IntegrationTests" />
        </behavior>
        <behavior name="failureBehavior">
          <workflowExtension type="some kind of type that is not known" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="workflowExtension"
             type="Neovolve.Toolkit.Workflow.WorkflowExtensionElement, Neovolve.Toolkit.Workflow" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Off"
              propagateActivity="true">
        <listeners>
          <add initializeData="System.ServiceModel.svclog"
               type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               name="ServiceModelTraceListener"
               traceOutputOptions="Timestamp" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Off">
        <listeners>
          <add initializeData="System.ServiceModel_Messages.svclog"
               type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               name="ServiceModelTraceListener"
               traceOutputOptions="Timestamp" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add initializeData="FailoverExceptionTrace.log"
             type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             name="FailoverExceptionTrace">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>