<?xml version="1.0"
      encoding="utf-8" ?>

<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/ChannelProxyHandlerTests"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.IntegrationTests.Communication.ITestService" />
      <endpoint address="net.pipe://localhost/UnNamedChannelProxyHandlerTests"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.IntegrationTests.Communication.Security.IPasswordService" />
      <endpoint address="net.pipe://localhost/NamedChannelProxyHandlerTests"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.IntegrationTests.Communication.Security.IPasswordService"
                name="NamedService" />
      <endpoint address="net.pipe://localhost/AnotherNamedChannelProxyHandlerTests"
                binding="netNamedPipeBinding"
                contract="Neovolve.Toolkit.IntegrationTests.Communication.Security.IPasswordService"
                name="AnotherNamedService" />
    </client>
  </system.serviceModel>
</configuration>