<?xml version="1.0"
      encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="MyTestSetting"
         value="234234" />
    <add key="MyTestString"
         value="Test string value" />
  </appSettings>
  <connectionStrings>
    <add name="TestConnection"
         connectionString="Data Source=localhost;Database=SomeDatabase;Integrated Security=SSPI;" />
  </connectionStrings>
  <unity>
    <sectionExtension type="Neovolve.Toolkit.Unity.SectionExtensionInitiator, Neovolve.Toolkit.Unity" />
    <containers>
      <container>
        <extensions>
          <add type="Neovolve.Toolkit.Unity.DisposableStrategyExtension, Neovolve.Toolkit.Unity" />
        </extensions>
        <register type="Neovolve.Toolkit.Unity.IntegrationTests.IDoSomething, Neovolve.Toolkit.Unity.IntegrationTests"
                  mapTo="Neovolve.Toolkit.Unity.IntegrationTests.CachedSomethingDone, Neovolve.Toolkit.Unity.IntegrationTests">
          <constructor>
            <param name="dependency">
              <dependency name="CacheSomething" />
            </param>
            <param name="maxAgeInMilliseconds"
                   type="System.Int64, mscorlib, Version=2.0.0.0">
              <appSetting appSettingKey="MyTestSetting" />
            </param>
          </constructor>
          <property name="PropertyTest">
            <appSetting appSettingKey="MyTestString" />
          </property>
        </register>
        <register type="Neovolve.Toolkit.Unity.IntegrationTests.IDoSomething, Neovolve.Toolkit.Unity.IntegrationTests"
                  mapTo="Neovolve.Toolkit.Unity.IntegrationTests.SomethingDone, Neovolve.Toolkit.Unity.IntegrationTests"
                  name="CacheSomething" />

        <register type="Neovolve.Toolkit.Unity.IntegrationTests.IDoSomething, Neovolve.Toolkit.Unity.IntegrationTests"
                  mapTo="Neovolve.Toolkit.Unity.IntegrationTests.ConnectionTest, Neovolve.Toolkit.Unity.IntegrationTests"
                  name="ConnectionStringTesting">
          <constructor>
            <param name="connectionString">
              <connectionSetting connectionStringKey="TestConnection" />
            </param>
          </constructor>
        </register>

        <register type="Neovolve.Toolkit.Unity.IntegrationTests.IDoSomething, Neovolve.Toolkit.Unity.IntegrationTests"
                  mapTo="Neovolve.Toolkit.Unity.IntegrationTests.ConnectionTest, Neovolve.Toolkit.Unity.IntegrationTests"
                  name="ConnectionSettingTesting">
          <constructor>
            <param name="connectionSetting">
              <connectionSetting connectionStringKey="TestConnection" />
            </param>
          </constructor>
        </register>


        <!-- Disposable proxy injection -->
        <register type="Neovolve.Toolkit.Unity.IntegrationTests.Root, Neovolve.Toolkit.Unity.IntegrationTests">
          <constructor>
            <param name="tester">
              <proxy />
            </param>
          </constructor>
        </register>

        <!-- Disposable named proxy manager injection -->
        <register type="Neovolve.Toolkit.Unity.IntegrationTests.ISecondDisposable, Neovolve.Toolkit.Unity.IntegrationTests"
                  mapTo="Neovolve.Toolkit.Unity.IntegrationTests.SecondDisposable, Neovolve.Toolkit.Unity.IntegrationTests"
                  name="NamedProxyTest">
          <constructor>
            <param name="third">
              <proxy name="NamedProxy" />
            </param>
          </constructor>
        </register>

        <register type="Neovolve.Toolkit.Communication.ProxyManager`1, Neovolve.Toolkit"
                  name="NamedProxy">
          <constructor>
            <param name="proxyHandler">
              <dependency name="NamedProxyHandler" />
            </param>
          </constructor>
        </register>

        <register type="Neovolve.Toolkit.Communication.ProxyHandler`1, Neovolve.Toolkit"
                  mapTo="Neovolve.Toolkit.Communication.DefaultProxyHandler`1, Neovolve.Toolkit"
                  name="NamedProxyHandler">
          <constructor>
            <param name="target">
              <dependency />
            </param>
          </constructor>
        </register>

        <register type="Neovolve.Toolkit.Unity.IntegrationTests.IThirdDisposable, Neovolve.Toolkit.Unity.IntegrationTests"
                  mapTo="Neovolve.Toolkit.Unity.IntegrationTests.ThirdDisposable, Neovolve.Toolkit.Unity.IntegrationTests">
        </register>

        <register type="Neovolve.Toolkit.Unity.IntegrationTests.IFourthDisposable, Neovolve.Toolkit.Unity.IntegrationTests"
                  mapTo="Neovolve.Toolkit.Unity.IntegrationTests.FourthDisposable, Neovolve.Toolkit.Unity.IntegrationTests" />

      </container>
    </containers>
  </unity>
</configuration>